<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.full_name %>! </h1>
    <p>
      You have successfully created a new note.<br>
    </p>
    <p>
      <%= @note.title%>
    </p>
    <p><%= @note.body%></p>
  </body>
</html>